.about-container {
    width: 100%;
    height: 100%;

    /* background-color: aquamarine; */

    padding: 0px 30px;
}

.about-container .about-bg-img {
    width: 100%;
    height: 45%;

    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 10px 20px rgb(155, 155, 155);

    position: relative;
}

.about-container .about-bg-img img {
    width: 100%;
    height: 100%;

    border-radius: 0px 0px 25px 25px;

    object-fit: cover;
    object-position: bottom;
}

.about-container .about-bg-img h3 {
    font-size: 5vw;
    color: rgb(201, 201, 201);
    text-transform: uppercase;
    font-weight: 800;
    
    position: absolute;
    margin: 20px 50px;
    z-index: 100;
    bottom: 0;
}

.about-container h2 {
    font-size: 2.5vw;
    color: rgb(61, 60, 60);

    margin: 50px 30px;
}



.about-text {
    width: 100%;

    display: flex;

    /* background: aquamarine; */
}
.about-text .about-text-img {
    width: 50%;
    
    /* background-color: aquamarine; */

    display: flex;
    justify-content: center;
}

.about-text-img img {
    height: 40dvh;

    /* margin: 0px auto; */
    border-radius: 50%;
}

.about-text span {
    width: 60%;
}
